{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee management system</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>
<body>
    <header>
        <div class="maincontainer">
            <nav class="navbar">
                <h1 class="mainhead">Employee Management System</h1>
                <div class="quicklinks">
                    <a href="#" class="link">Home</a>
                    <a href="#" class="link">About</a>
                    <a  id="Login" style="text-decoration: none; font-size: 20px; color: #000; cursor: pointer;">Login</a>
                    <a href="#" class="link">Contact us</a>
                </div>
            </nav>
        </div>
    </header>
    <script defer>
        document.getElementById("Login").addEventListener('click',function(){
            console.log("hello");
            window.location.href = "/loginPage/";
        });
    </script>
</body>


    {% block content %}
    {% endblock %}

</html>
