{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Department List</title>

    <link rel="stylesheet" href="{% static 'css/department.css' %}">
</head>
<body>
   
    <table class="classic-table">
        <tr>
            <th>Department</th>
            <th>Supervisor</th>
            <th>Description</th>
            <!-- <th>Action</th> -->
        </tr>

        {% for department in departments %}
        <tr>
            <td>{{ department.Name }}</td>
            <td>{{ department.supervisor_name }}</td>
            <td>{{ department.Description }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Button for adding departments -->
    <div class="classic-button-container">
        <a href="{% url 'add_department' %}" class="classic-button">Add Department</a>
    </div>
    <a href="{% url 'home' %}" class="classic-link">Back to homes</a>
    
</body>
</html>
